.titulo-principal{
    background-image: linear-gradient(to bottom, #851944, #888 80%,#000);
}
.inicio-post{
    color: #000;
    background-color: #FFF;
    position: absolute;
    top: 3em;
    right: 3em;
    height: 3em;
    padding: 1em;
}
.foto-home {
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 1em #000;
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
    font-size: 3em;
    color: #889;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    font-size: 2em;
    color: #000;
}

.saudacao em {
    color: #851944;
    font-size: 4em;
}

.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    box-shadow: 0 0 1em #000, inset 0 0 .5em #FFF;
}

.secao-inicio {
    padding: 2em;
}

.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 5px 5px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    background-image: linear-gradient(135deg,
                        transparent,
                        transparent 14px,
                        rgba(0, 0, 0, 0.1) 14px,
                        rgba(0, 0, 0, 0.1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.trabalhos h2 {
    color: #FFF;
}

.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}

.trabalhos li {
    float: left;
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
    background-image: linear-gradient(45deg,
                        transparent,
                        transparent 14px,
                        rgba(255, 255, 255, 0.1) 14px,
                        rgba(255, 255, 255, 0.1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.blog small {
    position: relative;
    top: -2em;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}

footer h2 {
    font-size: 3em;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.eficiencia {
    position: absolute;
    top: 20%;
    left: 75%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    opacity: .3;
}
.palavra-home{
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: #D5447E;
    
}
@keyframes aparece{
    0% {
        opacity: 0;
        transform: scale(0.01);
    }
}
.boas-praticas {
    position: absolute;
    top: 70%;
    left: 20%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    opacity: .3;
}
.codigo-limpo {
    position: absolute;
    top: 45%;
    left: 10%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    opacity: .6;
}
.css3 {
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    opacity: .6;
}
.html5 {
    position: absolute;
    top: 40%;
    left: 80%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    opacity: .6;
}
.javascript {
    position: absolute;
    top: 10%;
    left: 60%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    opacity: .3;
}
.acessibilidade {
    position: absolute;
    top: 30%;
    left: 25%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    opacity: .8;
}
.responsivo {
    position: absolute;
    top: 15%;
    left: 15%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    opacity: .8;
}
.otimizacoes {
    position: absolute;
    top: 60%;
    left: 70%;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    opacity: .6;
}
.agilidade {
    position: absolute;
    top: 10%;
    left: 30%;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
     opacity: .3;
}
.design {
    position: absolute;
   top: 35%;
    left: 65%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
     opacity: .6;
}
.titulo-principal{
    position: relative;
}
p{
    text-align: center;
}
.blog p {
    position: absolute;
    top: 4em;
    height: 8em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
    display:none;
}
.blog .mais-recente {
    background-color: #F2FFFC;
}

.blog .mais-recente a {
    color: #F26;
}
.blog li {
    width: 30%;
}
.saudacao em{
    color: #851944;
    font-size: 4em;
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
}
.banner-twitter {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
    
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: .4em;
    font-family: "Open Sans Condesed", sans-serif;

    animation: aparece 9s;

    
    }
.subtitulo-principal{
    font-size: 22px;
}
.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post{
    display: block;
}
.blog a:hover,
.blog a:focus{
    background-color: #F2FFFC;
    color: #F26;
}
.botao-index:focus,
.botao-index:hover {
    background-color: #C54974;
    color: white;
    box-shadow: 0 0 1em #FA9;
}
.botao-index {
    text-decoration: none;
    transition: .5s;
}
h1, .palavra-home, .subtitulo-principal{
    animation: aparece 9s;
}
.foto-home{
    animation: aparece 7.5s;
}
.saudacao em{
    animation: flutua 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}
@keyframes flutua{
    from{
        top: -5px;
    }
    to{
        top: 5px;
    }
}

