.inicio-post{
    color: #000;
    background-color: #FFF;
    position: absolute;
    top: 3em;
    right: 3em;
    height: 3em;
    padding: 1em;
}
.foto-home {
    height: 200px;
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
    font-size: 3em;
    color: #889;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    font-size: 2em;
    color: #000;
}

.saudacao em {
    color: #851944;
    font-size: 4em;
}

.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}

.secao-inicio {
    padding: 2em;
}

.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}

.trabalhos h2 {
    color: #FFF;
}

.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}

.trabalhos li {
    float: left;
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}

.blog small {
    position: relative;
    top: -2em;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}

footer h2 {
    font-size: 3em;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.eficiencia {
    position: absolute;
    top: 20%;
    left: 75%;
}
.palavra-home{
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: #D5447E;
}
.boas-praticas {
    position: absolute;
    top: 70%;
    left: 20%;
}
.codigo-limpo {
    position: absolute;
    top: 45%;
    left: 10%;
}
.css3 {
    position: absolute;
    top: 50%;
    left: 30%;
}
.html5 {
    position: absolute;
    top: 40%;
    left: 80%;
}
.javascript {
    position: absolute;
    top: 10%;
    left: 60%;
}
.acessibilidade {
    position: absolute;
    top: 30%;
    left: 25%;
}
.responsivo {
    position: absolute;
    top: 15%;
    left: 15%;
}
.otimizacoes {
    position: absolute;
    top: 60%;
    left: 70%;
}
.agilidade {
    position: absolute;
    top: 10%;
    left: 30%;
}
.design {
    position: absolute;
   top: 35%;
    left: 65%;
}
.titulo-principal{
    position: relative;
}
p{
    text-align: center;
}
.blog .inicio-post {
    position: absolute;
    top: 4em;
    height: 8em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
}
.blog .mais-recente {
    background-color: #F2FFFC;
}

.blog .mais-recente a {
    color: #F26;
}
.blog li {
    width: 30%;
}