html{
	font-size: 90%;
}
body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;

	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
    font-size: 300%;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 1.25rem;
    border-bottom: .5rem solid #000;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.citacoes {
	background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    padding: 20px;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
}

.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
	padding: 20px;
	text-align: center;

}
nav a {
	color: #F2FFFC;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}
.centralizar-texto {
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 80px;
}

main div{
	width: 720px;
	margin: auto;
	padding: 30px 0;
}
ul{
	list-style-type:none;
}
h2{
	font-size: 30px;
	clear: both;
}
aside h1{
	font-size: 30px;
	margin-bottom: 25px;

}
strong {
	font-weight: bold;
}
em{
	font-style: italic;
}
.icones-sociais li {
	display: inline-block;

}
#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
article{
	padding-bottom: 30px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 20px;
}
.leia-mais{
	padding: 8px;
	margin: 16px;
	display: block;
	font-size: 24px;
	text-align: center;
	background-color: #E6E7E8;
}
.icones-sociais a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -99999px;
}
.github{
	background-image: url(../img/github.png);
}
.twitter{
	background-image: url(../img/twitter.png);
}
.linkedin{
	background-image: url(../img/linkedin.png);
}
h1{
	text-transform: uppercase;
}
nav a{
	text-transform: lowercase;
}
.fiat{
	float: right;
}
.petrobras{
	float: left;
}
aside, .minha-foto{
	border-left: 10px solid black;
	border-bottom: 10px solid black;
	float: right;
	
	box-sizing: border-box;
}
main{
	float: left;
	width: 85%;
}
cite {
	float: right;
	font-style: italic;

}
.minha-foto{
	background-image: url(img/eu.jpg);
	position: absolute;
	top: 0px;
	right: 0px;
}
aside{
	width: 15%;
	position: relative;
	top: 310px;
}